[data-vallb-container] > .row {
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}
[data-vallb-container] > .row > div {
  width: 100%;
}
[data-vallb-container-placeholder] {
  min-height: 566px;
  color: rgb(167, 191, 57);
}
[data-vallb-container-placeholder] > svg {
  width: 15%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
