{% if ajax_identifier and endpoint %}
  {{ attach_library('vallb/lazy-builder') }}
  <div{{ attributes }}>
    <div{{ placeholder_attributes }}>
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 24 24" stroke-width="0" stroke="#3e4749" fill-opacity="1.0">
        <path stroke-linecap="round" stroke-linejoin="round" d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"></path>
      </svg>
      {{ loading_message }}
    </div>
  </div>
{% endif %}
